@import '../../node_modules/@aasaam/noto-font/dist/font-face.css';

body {
  font-family: 'aasaam-Noto', sans-serif;
}
.con10 {
  max-width: 1000px;
  margin: auto;
}

.con12 {
  max-width: 1200px;
  margin: auto;
}

.con16 {
  max-width: 1400px;
  margin: auto;
}

.con14 {
  max-width: 1600px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:focus {
  text-decoration: none;
  border: none;
}

a {
  text-decoration: none;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// [dir='rtl'] body {
//   font-family: 'Shabnam';
// }

// [dir='ltr'] body {
//   font-family: 'Roboto';
// }

body * {
  box-sizing: border-box;
}

.block {
  display: block;
}

.mb8 {
  margin-bottom: 8px;
}
.mb12 {
  margin-bottom: 12px;
}

.mt8 {
  margin-top: 8px;
}
.mt12 {
  margin-top: 12px;
}
.mt24 {
  margin-top: 24px;
}
.mt32 {
  margin-top: 32px;
}
.ml8 {
  margin-left: 8px;
}
.ml12 {
  margin-left: 12px;
}
.ml32 {
  margin-left: 32px;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.float {
  float: right;
}

.defloat {
  float: left;
}

.clear {
  overflow: auto;
}
.clearme {
  clear: both;
}
// @font-face {
//   font-family: Shabnam;
//   src: url('./fonts/Shabnam-FD.eot');
//   src: url('./fonts/Shabnam-FD.eot?#iefix') format('embedded-opentype'), url('./fonts/Shabnam-FD.woff2') format('woff2'),
//     url('./fonts/Shabnam-FD.woff') format('woff'), url('./fonts/Shabnam-FD.ttf') format('truetype');
//   font-weight: normal;
// }

// @font-face {
//   font-family: ShabnamBold;
//   src: url('./fonts/Shabnam-Bold-FD.eot');
//   src: url('./fonts/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/Shabnam-Bold-FD.woff2') format('woff2'), url('./fonts/Shabnam-Bold-FD.woff') format('woff'),
//     url('./fonts/Shabnam-Bold-FD.ttf') format('truetype');
//   font-weight: bold;
// }
// .fnb {
//   font-family: ShabnamBold;
// }

// Qtabs Pannel
.q-panel-parent {
  overflow: hidden !important;
}

.vue-tel-input {
  height: 56px;
}
body {
  background-color: #f6f6f6;
}
.q-card__section + .q-card__section {
  padding-top: unset;
}
// customization for tel input
.vti__dropdown-list {
  position: absolute;
  right: 0;
  direction: ltr;
}
.vti__dropdown-list {
  left: 0 !important;
  text-align: left;
  width: 382px;
}
.clw {
  color: #fff;
}
.clb {
  color: #000;
}
.col3th {
  // overflow: auto;
  clear: both;
  .col1,
  .col2,
  .col3 {
    float: left;
    width: calc(100% / 3 - 16px);
    padding-right: 16px;
    @media screen and (max-width: 1024px) {
      width: calc(100% - 16px);
      padding: 0;
      margin: 16px;
    }
  }
}
.pt16 {
  padding-top: 16px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb20 {
  padding-bottom: 20px;
}
.pt20 {
  padding-top: 20px;
}
.w100 {
  width: 100%;
}
.p8 {
  padding: 8px !important;
}
.p12 {
  padding: 12px !important;
}
.halfw {
  width: calc(100% / 2 - 16px);
  float: left;
}
.fullw {
  width: calc(100% - 16px);
  float: left;
}
.w50 {
  width: 50%;
  float: left;
}
.w55 {
  width: 55%;
}
.pr24 {
  padding-right: 24px;
}
.w30 {
  width: calc(100% / 3 - 24px);
  float: left;
}
.w25 {
  width: calc(100% / 4 - 24px);
  float: left;
}
.headerTitleInPage {
  font-size: 22px;
  margin: 12px;
}
.saveInfo {
  margin: auto;
  display: block;
  clear: both;
  width: 100%;
  button {
    width: 200px;
    margin: auto;
    display: block;
  }
}
.inputStyle {
  padding-bottom: 20px;
}
.pr16 {
  padding-right: 16px;
}
.pl16 {
  padding-left: 16px;
}
.pl12 {
  padding-left: 12px;
}
.pr12 {
  padding-right: 12px;
}
.pr8 {
  padding-right: 8px;
}
.pt4 {
  padding-top: 4px;
}
.mr16 {
  margin-right: 16px;
}
.mr12 {
  margin-right: 12px;
}
.mb16 {
  margin-bottom: 16px;
}
.cardActionWrap {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 980px) {
    display: block;
    overflow: auto;
  }
}
@media screen and (max-width: 480px) {
  .block460 {
    > div {
      display: block !important;
    }
  }
}
@media screen and (max-width: 640px) {
  .block640 {
    > div {
      display: block !important;
    }
  }
  .fullw640 {
    width: calc(100% - 16px);
    margin-bottom: 16px;
  }
}
.error {
  span {
    color: #cb0000;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    padding-top: 6px;
  }
}

[dir='']input[type='email'] {
  direction: rtl !important;
}
.email {
  direction: rtl;
  i {
    padding-left: 12px;
  }
}
.fn18 {
  font-size: 18px !important;
}
.q-pa-xl {
  padding: 78px 48px;
}
// global css for tickets
.attachments {
  overflow: auto;
  .fileUploadWrapper {
    // width: 70%;
    float: left;
  }
  .fileUploadWrapper input[type='file'] {
    height: 60px;
  }
  .fileUploadPlace .fileUploadPlaceInner .emptyFile {
    padding-top: 16px;
  }
  .attachHeader {
    width: 100%;
    display: block;
    background-color: #dedede;
    padding: 2px 12px;
    margin-top: 12px;
    color: #515151;
    font-size: 17px;
  }
  .addMoreBut {
    width: 25%;
    background-color: #455a64 !important;
  }
  .fileUploadPlace .fileUploadPlaceInner .uploadedFile {
    font-size: 30px;
    padding-top: 0;
  }
}
.uploadTicket {
  width: 400px;
  display: block;
  margin: auto;
  @media screen and (max-width: 600px) {
    width: 95%;
  }
  i {
    padding-right: 12px;
    font-size: 13px;
  }
}
.q-message-text {
  line-height: 30px;
}
.q-message-name,
.q-message-stamp,
.q-message-label {
  font-size: larger;
}
.q-message-stamp {
  text-align: right;
}
.q-pa-xl {
  @media screen and (max-width: 480px) {
    padding: 78px 12px;
  }
}
// common css for dialog
.q-dialog-plugin {
  text-align: center;
  .q-card__actions {
    display: flex;
    justify-content: space-around;
  }
}
.fn11 {
  font-size: 11px;
}
.fn12 {
  font-size: 12px;
}
.fn16 {
  font-size: 16px;
}
.boldTitle15 {
  font-weight: bold;
  font-size: 15px;
}
.boldTitle14 {
  font-weight: bold;
  font-size: 14px;
}
.boldTitle12 {
  font-weight: bold;
  font-size: 12px;
}
.pb0 {
  padding-bottom: 0;
}
.q-pa-xl {
  padding: 120px 48px;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.flexbet {
  display: flex;
  justify-content: space-between;
}
.pointer {
  cursor: pointer;
}
.numberDir {
  direction: rtl;
  text-align: left;
}
.wrap {
  flex-wrap: wrap;
}
.w150p {
  width: 150px;
}
.w200p {
  width: 200px;
}
