.con10 {
  max-width: 1000px;
  margin: auto;
}

.con12 {
  max-width: 1200px;
  margin: auto;
}

.con16 {
  max-width: 1400px;
  margin: auto;
}

.con14 {
  max-width: 1600px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:focus {
  text-decoration: none;
  border: none;
}

a {
  text-decoration: none;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

[dir='rtl'] body {
  font-family: 'Shabnam';
}

[dir='ltr'] body {
  font-family: 'Roboto';
}

body * {
  box-sizing: border-box;
}

.block {
  display: block;
}

.mb12 {
  margin-bottom: 12px;
}

.mt12 {
  margin-top: 12px;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.float {
  float: right;
}

.defloat {
  float: left;
}

.clear {
  overflow: auto;
}
.clearme {
  clear: both;
}
@font-face {
  font-family: Shabnam;
  src: url('./fonts/Shabnam-FD.eot');
  src: url('./fonts/Shabnam-FD.eot?#iefix') format('embedded-opentype'), url('./fonts/Shabnam-FD.woff2') format('woff2'),
    url('./fonts/Shabnam-FD.woff') format('woff'), url('./fonts/Shabnam-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: ShabnamBold;
  src: url('./fonts/Shabnam-Bold-FD.eot');
  src: url('./fonts/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Shabnam-Bold-FD.woff2') format('woff2'), url('./fonts/Shabnam-Bold-FD.woff') format('woff'),
    url('./fonts/Shabnam-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}
.fnb {
  font-family: ShabnamBold;
}

// Qtabs Pannel
.q-panel-parent {
  overflow: hidden !important;
}

.vue-tel-input {
  height: 56px;
}
body {
  background-color: #f6f6f6;
}
.q-card__section + .q-card__section {
  padding-top: unset;
}
// customization for tel input
.vti__dropdown-list {
  position: absolute;
  right: 0;
  direction: ltr;
}
.vti__dropdown-list {
  left: 0 !important;
  text-align: left;
  width: 382px;
}
.clw {
  color: #fff;
}
.clb {
  color: #000;
}
.col3th {
  // overflow: auto;
  clear: both;
  .col1,
  .col2,
  .col3 {
    float: left;
    width: calc(100% / 3 - 16px);
    padding-right: 16px;
    @media screen and (max-width: 1024px) {
      width: calc(100% - 16px);
      padding: 0;
      margin: 16px;
    }
  }
}
.pt16 {
  padding-top: 16px;
}
.pt20 {
  padding-top: 20px;
}
.w100 {
  width: 100%;
}
.p8 {
  padding: 8px;
}
.halfw {
  width: calc(100% / 2 - 16px);
  float: left;
}
.fullw {
  width: calc(100% - 16px);
  float: left;
}
.w50 {
  width: 50%;
  float: left;
}
.headerTitleInPage {
  font-size: 22px;
  margin: 12px;
}
.saveInfo {
  margin: auto;
  display: block;
  clear: both;
  width: 100%;
  button {
    width: 200px;
    margin: auto;
    display: block;
  }
}
.inputStyle {
  padding-bottom: 20px;
}
.pr16 {
  padding-right: 16px;
}
.pl16 {
  padding-left: 16px;
}
.mr16 {
  margin-right: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.cardActionWrap {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 980px) {
    display: block;
    overflow: auto;
  }
}
@media screen and (max-width: 480px) {
  .block460 {
    > div {
      display: block !important;
    }
  }
}
@media screen and (max-width: 640px) {
  .block640 {
    > div {
      display: block !important;
    }
  }
  .fullw640 {
    width: calc(100% - 16px);
    margin-bottom: 16px;
  }
}
