.my-sticky-header-column-table {
  /* specifying max-width so the example can
      highlight the sticky column on any browser window */

  /* max height is important */
  .q-table__middle {

    max-height: 500px;
  }

  td:first-child

  /* bg color is important for td; just specify one */
    {

    background-color: #c1f4cd;
  }

  tr:first-child th {

    position: sticky;
    top: 0;
    opacity: 1;
    /* opacity is important */
    z-index: 2;
    /* higher than z-index for td below */
    background: #fff;
    /* bg color is important; just specify one */
  }

  tr:first-child th:first-child {
    z-index: 3;
    /* highest z-index */

  }

  td:first-child {

    z-index: 1;
  }

  td:first-child,
  th:first-child {

    position: sticky;
    left: 0;
  }

}
